*.iml
.gradle
/local.properties
/.idea
/app/build
/.kotlin
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/certs_final
/server
/captures
/.kotlin
.externalNativeBuild
.cxx
local.properties
